html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: 'Kodchasan';
}

.wrap {
  display: inline-block;
  position: relative;
}

.wrap img + .content {
  position: absolute;
  top: 0;
  left: 0;
}

.title{
  font-size: 8rem;
  font-family: 'Irish Grover';
  color: white;

}

.background-image-cover{
  background-color: rgba(0, 0, 0, 0.4);
}

.tab {
  display: inline-block;
  margin-left: 1em;
}

hr.rounded {
  border-top: 2px solid;
  border-radius: 2px;
}

.inverted-color{
  color: black !important;
}

.menu:nth-child(1) h3
{
  color: #ED6468 !important;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  }

  .reveal.active{
  transform: translateY(0);
  opacity: 1;
  }

  .fadeIn{
    opacity: 0;
    transition: 1s all ease;
  }

  .fadeIn.run{
    opacity: 1;
  }

@keyframes slidein {
  from {
      transform: translateX(150vh);
  }
  to {
      transform: translateX(-150vh);
  }
}