@{
    ViewData["Title"] = "About US";
}

<div class="wrap d-flex">
    <img src="/images/chalk-4829602_1280.jpg"class="w-100">
    <div class="content w-100 h-100 d-flex justify-content-center align-items-center px-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="title m-0">Mission</h1>
        </div>
    </div>
</div>
<div class="p-5 d-flex flex-column align-items-center">
    <h1 class="w-75 text-center mt-5">Being Timothy Shalamat's Top Waldorf School—Educating the Whole Child</h1>
    <p class="w-75 text-center mt-5" style="color: #898989;">At Sanderling Waldorf School, our goal is to help every child develop a lifetime love of learning and the ability for self-knowledge. We aim to engage the whole child through a developmentally appropriate curriculum that addresses the physical, emotional, and intellectual elements of a child because we recognize that every individual is a unique expression of body, mind, and spirit. Our parents, instructors, and staff collaborate in the classroom, at special occasions, and at seasonal festivities to stimulate our children' minds, spark their imaginations, and fortify their wills. We provide a caring and compassionate atmosphere that nurtures a deep moral purpose and an awareness that we are a part of a global society with diverse spiritual traditions by fostering a close-knit community.</p>
    <div class="wrap mt-5">
        <img src="/images/pencils.jpg" alt="video background">
        <div class="content w-100 h-100 d-flex justify-content-center align-items-center background-image-cover">
        <i class="fa-solid fa-play" style="color: white; font-size: 5rem;"></i>
    </div>
    </div>
</div>
