@{
    ViewData["Title"] = "Home Page";
}

<div class="wrap">
    <img src="/images/background-img-crop.jpg" class="w-100"></img>
    <div class="content w-100 h-100 d-flex justify-content-between align-items-center background-image-cover px-3">
        <i class="fa-solid fa-chevron-left" style="color: white; font-size: 5rem;"></i>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="title m-0">Unleash</h1>
            <p class="text-light fs-1 m-0">your child’s full potential</p>
        </div>
        <i class="fa-solid fa-chevron-right" style="color: white; font-size: 5rem;"></i>
    </div>
</div>
