@{
    ViewData["Title"] = "Programs";
}

<div class="wrap d-flex">
    <img src="/images/book-1052014_1280.jpg"class="w-100">
    <div class="content w-100 h-100 d-flex justify-content-center align-items-center px-3">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="title m-0">Education Enhancement</h1>
        </div>
    </div>
</div>
<div class="p-5 d-flex flex-column align-items-center">
    <div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-5">STEM Enrichment Program:</h1>
            <p class="w-75 text-center mt-5" style="color: #898989;">Timothy Shalamat School is proud to offer an advanced STEM (Science, Technology, Engineering, and Mathematics) enrichment program. Students engage in hands-on projects, collaborative experiments, and cutting-edge technology, fostering a passion for innovation.</p>
        </div>
        <div class="col">
            <h1 class="text-center mt-5">Entrepreneurship Incubator:</h1>
            <p class="text-center mt-5" style="color: #898989;">Timothy Shalamat School supports budding entrepreneurs through an Entrepreneurship Incubator program. Students with innovative ideas receive mentorship, resources, and the chance to develop and pitch their business plans.</p>                   
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h1 class=" text-center mt-5">Global Studies <br> Initiative:</h1>
            <p class=" text-center mt-5" style="color: #898989;">At Sanderling Waldorf School, our goal is to help every child develop a lifetime love of learning and the ability for self-knowledge. We aim to engage the whole child through a developmentally appropriate curriculum that addresses the physical, emotional, and intellectual elements of a child because we recognize that every individual is a unique expression of body, mind, and spirit. Our parents, instructors, and staff collaborate in the classroom, at special occasions, and at seasonal festivities to stimulate our children' minds, spark their imaginations, and fortify their wills. We provide a caring and compassionate atmosphere that nurtures a deep moral purpose and an awareness that we are a part of a global society with diverse spiritual traditions by fostering a close-knit community.</p>
        </div>
        <div class="col">
            <h1 class=" text-center mt-5">Leadership and Community Service Program:</h1>
            <p class=" text-center mt-5" style="color: #898989;">At Sanderling Waldorf School, our goal is to help every child develop a lifetime love of learning and the ability for self-knowledge. We aim to engage the whole child through a developmentally appropriate curriculum that addresses the physical, emotional, and intellectual elements of a child because we recognize that every individual is a unique expression of body, mind, and spirit. Our parents, instructors, and staff collaborate in the classroom, at special occasions, and at seasonal festivities to stimulate our children' minds, spark their imaginations, and fortify their wills. We provide a caring and compassionate atmosphere that nurtures a deep moral purpose and an awareness that we are a part of a global society with diverse spiritual traditions by fostering a close-knit community.</p>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h1 class=" text-center mt-5">Advanced Placement (AP) Courses:</h1>
            <p class=" text-center mt-5" style="color: #898989;">For academically ambitious students, Timothy Shalamat School offers a range of Advanced Placement courses, providing an opportunity to delve into college-level material and earn college credits while still in high school.</p>
        </div>
        <div class="col">
            <h1 class=" text-center mt-5">Athletics and Wellness Program:</h1>
            <p class=" text-center mt-5" style="color: #898989;">Our comprehensive Athletics and Wellness Program encourages physical fitness and teamwork. Students can choose from a variety of sports, participate in intramural leagues, and benefit from wellness workshops promoting a healthy </p>
        </div>
        <div class="w-100">
            <h1 class=" text-center mt-5">Arts and Performing Arts Academy:</h1>
            <p class=" text-center mt-5" style="color: #898989;">At Sanderling Waldorf School, our goal is to help every child develop a lifetime love of learning and the ability for self-knowledge. We aim to engage the whole child through a developmentally appropriate curriculum that addresses the physical, emotional, and intellectual elements of a child because we recognize that every individual is a unique expression of body, mind, and spirit. Our parents, instructors, and staff collaborate in the classroom, at special occasions, and at seasonal festivities to stimulate our children' minds, spark their imaginations, and fortify their wills. We provide a caring and compassionate atmosphere that nurtures a deep moral purpose and an awareness that we are a part of a global society with diverse spiritual traditions by fostering a close-knit community.</p>
        </div>
    </div>
    </div>
</div> 

